<style>
.ui-widget-content {
	border: 1px solid #33CCFF;
	background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color: #33CCFF;
}
.ui-widget-content a {
	color: #33CCFF;
}

.ui-widget-header {
	border: 1px solid #1E90FF;
	background: #1E90FF url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #0000CD;
	font-weight: bold;
}
.ui-widget-header a {
	color: #33CCFF;
}

.ui-widget-header .ui-state-default {
	border: 1px solid #33CCFF;
	background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #33CCFF;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #33CCFF;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #33CCFF;
	background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #33CCFF;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
	color: #33CCFF;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #33CCFF;
	background: #87CEFA url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #33CCFF;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #33CCFF;
	text-decoration: none;
}

.ui-tabs-anchor 
{
   color: #33CCFF;
    background: #87CEFA url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
}
--%>
</style> 